<template>
    <div class="container">
        <div class="row py-4 d-flex justify-content-center">
            <div class="col-xs-12 col-md-6">
                <h4 class="text-center">Add person</h4>
                <hr />
                <form @submit.prevent="addData()">
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input 
                            type="text" 
                            id="firstName"
                            class="form-control"
                            v-model="form.first_name"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input 
                            type="text" 
                            id="lastName" 
                            class="form-control"
                            v-model="form.last_name"
                            required />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                first_name: '',
                last_name: '',
            },
            url: $('meta[name="url"]').attr('content'),
            token: $('meta[name="csrf-token"]').attr('content'),
        }
    },

    methods: {
        addData() {
            axios.post(this.url + '/api/person', {
                first_name: this.form.first_name,
                last_name: this.form.last_name
            }).then(response => {
                this.$router.push('/');
            });
        }
    }
}
</script>