<template>
    <div class="container">
        <div class="row py-4 d-flex justify-content-center">
            <div class="col-xs-12 col-md-8">
                <h4 class="text-center mb-4">Person list</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="person in persons" v-bind:key="person.first_name">
                            <td>{{ person.first_name }}</td>
                            <td>{{ person.last_name }}</td>
                            <td>
                                <router-link class="btn btn-success" :to="'/update/' + person.id">Edit</router-link>
                                <button class="btn btn-danger" @click="deleteData(person.id)">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <router-link class="btn btn-primary btn-sm" to="/create">Add person</router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            persons: [],
            url: $('meta[name="url"]').attr('content'),
        }
    },

    created() {
        this.loadData();
    },

    methods: {
        loadData() {
            axios.get(this.url + '/api/person').then(response => {
                this.persons = response.data;
            });
        },

        deleteData(id) {
            axios.delete(this.url + '/api/person/' + id).then(response => {
                this.loadData();
            });
        }
    }
}
</script>